.container-fluid {
    margin-top:3%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container {
  padding: 20px;
}
h1 {
    color: steelblue;
}

.checkBTN {
    margin: 2%;
}